<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Register Page</title>
<!-- <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous"> -->
</head>
<body>

	<div class="container align-content-center" id="registerForm">
			<form>
				<div class="form-row justify-content-center">
					<h1 class="display-4">Employee Reimbursment System</h1> 
				</div>
				<div id="bottomBorder"class="form-row justify-content-center">
					<h1 class="display-4">Register</h1> 
				</div>
				<hr>
				<br>
				<div class="form-row justify-content-center">
					<label>First Name:</label>
				</div>
				<div class="form-row justify-content-center">
					<input class="inputstyle" type="text" name="firstname" id="firstname">
				</div>
				<br> 
				<div class="form-row justify-content-center">
					<label>Last Name:</label>
				</div>
				<div class="form-row justify-content-center">
					<input class="inputstyle" type="text" name="lastname" id="lastname">
				</div>
				<br>
				<div class="form-row justify-content-center">
					<label>Email:</label>
				</div>
				<div class="form-row justify-content-center">
					<input class="inputstyle" type="text" name="email" id="email">
				</div>
				<br>
				<div class="form-row justify-content-center">
					<label>Username:</label>
				</div>
				<div class="form-row justify-content-center">
					<input class="inputstyle" type="text" name="username" id="username">
				</div>
				<br> 
				<div class="form-row justify-content-center">
					<label>Password:</label> 
				</div>
				<div class="form-row justify-content-center">
					<input class="inputstyle" type="password" name="password" id="password">
				</div>
                <br>
				<div class="form-row justify-content-center">
					<label>Role:</label> 
				</div>
				<div class = "form-row justify-content-center">
					<input class = "inputstyle" type="radio" id="employee" name="role" value="employee">
					<label for="employee">Employee</label>
					<input class="inputstyle" type="radio" id="manager" name="role" value="manager">
					<label for="manager">Manager</label><br>
				</div>
				<br>
				<div class="form-row justify-content-center">
					<input class="btn btn-primary" type="button" value="Register"
						id="submitButton">
				</div>
			</form>
	</div>
	<script src="../scripts/register.js"></script>
</body>
</html>