<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Reimbursements</title>
    </head>
    <body>
        <main>
            Getting Reimbursement Info
            <br>
            <div class = "form-row justify-content-center">
                <input class = "inputstyle" type="radio" id="all" name="reimburse" value="all">
                <label for="all">All</label>
                <input class="inputstyle" type="radio" id="pend" name="reimburse" value="pending">
                <label for="pend">Pending</label>
                <input class = "inputstyle" type="radio" id="resolve" name="reimburse" value="resolved">
                <label for="resolve">Resolved</label>
                <input class="inputstyle" type="radio" id="deny" name="reimburse" value="denied">
                <label for="deny">Denied</label><br> 
                <label for="getData">Filter by username</label>
                <input type="text" id="dataInput"/>
                <button type="button" id="getData">Get Data</button>
            </div>
            <section id="data">

            </section>
        </main>
        <script src="../scripts/reimbursement-show.js"></script>
    </body>
</html>