<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Users</title><link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    </head>
        
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="dashboard.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="reimbursement-show.html">Reimbursements</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="reimbursement-action.html">Reimbursement action</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="users.html">Users</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="login.html">Logout</a>
                </li>
              </ul>
            </div>
          </nav>
        <main>
            Getting Users Info
            <br>
            <input type="text" id="dataInput" />
            <button type="button" id="getData">Get Data</button>
            <section id="data">

            </section>
        </main>
        <script src="../scripts/users.js"></script>
    </body>
</html>